@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -o.031rem;
    font-family: "Inter", sans-serif;
}

.main-container {

    background-color: #efefef;
    width: 10ovw;
    height: auto;
    padding: 3rem;
    margin: 2rem;
    border: none;
    border: 0.10rem solid rgb(196, 196, 196);
    border-radius: 0.3rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 1rem;
    
}

.boxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    column-gap: 4rem;


}

.head-text h1{

    font-size: 1rem;
    font-weight: 700;
    color: #3a3a3a;

}


.sub{

    width: 100%;
    height: auto;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    border: none;
    border: 0.10rem solid rgb(196, 196, 196);
    border-radius: 0.5rem; 
}

.text-content h1{

    font-size: 1rem;
    font-weight: 500;
    color: #3a3a3a;

}
.figures h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #010101;

}

.open {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    border: none;
    border: 0.10rem solid rgb(196, 196, 196);
    border-radius: 0.3rem; 

}

.click {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    border: none;
    border: 0.10rem solid rgb(196, 196, 196);
    border-radius: 0.3rem; 

}